$primary-bg: #00171f;
$primary-fg: #ffffff;
$secondary-bg: #003459;
$box-skin: #41579830;
$box-bg: #ffffff;
$logo: #334afd;
$primary-3: #003459;
$primary-4: #007ea7;
$primary-5: #00a8e8;
$primary-fade: #00000040;
$success: rgb(39, 133, 39);
$error: #d81714;
$warning: #e69901;
$info: #0344b6;
$stop: #d40040;
